<mat-toolbar class="page-header">
  <mat-toolbar-row>
    <a class="header-title navbar-brand" href="#">aidoc.net</a>
    <nav class="navbar-expand-sm navbar-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="#" class="mat-button border-bottom align-items-center">Flights <mat-icon>flight</mat-icon></a>
        </li>
        <li class="nav-item">
          <a href="#" class="mat-button align-items-center">Hotels <mat-icon>location_city</mat-icon></a>
        </li>
      </ul>
    </nav>
    <span class="example-spacer"></span>
    <div class="d-flex flex-row-reverse">
      <div class="header-login-link">Login</div><mat-icon>perm_identity</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
