<div class="card search-card">
  <div *ngIf="showSearch || parent === 'home'">
    <form action="" [formGroup]="flightService.searchForm">
      <div class="row form-input justify-space-between" *ngIf="parent === 'flights'">
        <mat-radio-group aria-label="Select Trip Type" formControlName="tripType">
          <mat-radio-button value="1">One Way</mat-radio-button>
          <mat-radio-button value="2">Round Trip</mat-radio-button>
          <mat-radio-button value="3">Multi City</mat-radio-button>
        </mat-radio-group>

        <button mat-icon-button color="warn" aria-label="icon button" class="icon-btn-close"
                (click)="showSearch = false">
          <mat-icon>search_off</mat-icon>
        </button>
      </div>

      <div class="row form-input">
        <div [ngClass]="{'col-2': parent === 'flights', 'col-12': parent === 'home'}">
          <mat-form-field class="full-width-input">
            <mat-label><span class="text-danger">*</span><span id="from">From</span></mat-label>
            <mat-select class="full-width-input" formControlName="startLocation">
              <mat-option class="option-val" *ngFor="let place of journeyLocations.from"
                          value="{{place}}">{{place}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div [ngClass]="{'col-2': parent === 'flights', 'col-12': parent === 'home'}">
          <mat-form-field class="full-width-input">
            <mat-label><span class="text-danger">*</span><span id="to">To</span></mat-label>
            <mat-select class="full-width-input" formControlName="endLocation">
              <mat-option class="option-val" *ngFor="let place of journeyLocations.to"
                          value="{{place}}">{{place}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div [ngClass]="{'col-2': parent === 'flights', 'col-12': parent === 'home'}">
          <mat-form-field class="full-width-input" appearance="fill">
            <mat-label id="departureDate">Departure date</mat-label>
            <input matInput [matDatepicker]="startPicker" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startPicker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div [ngClass]="{'col-2': parent === 'flights', 'col-12': parent === 'home'}">
          <mat-form-field class="full-width-input" appearance="fill">
            <mat-label id="returnDate">Return date</mat-label>
            <input matInput [matDatepicker]="endPicker" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endPicker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div [ngClass]="{'col-2': parent === 'flights', 'col-6': parent === 'home'}">
          <mat-form-field class="full-width-input" appearance="fill">
            <mat-label id="minimumPrice">Min Price:</mat-label>
            <input matInput type="text" formControlName="minPrice">
          </mat-form-field>
        </div>
        <div [ngClass]="{'col-2': parent === 'flights', 'col-6': parent === 'home'}">
          <mat-form-field class="full-width-input" appearance="fill">
            <mat-label id="maximumPrice">Max Price:</mat-label>
            <input matInput type="text" formControlName="maxPrice">
          </mat-form-field>
        </div>
      </div>

      <div class="row form-input">
        <div class="col-8" *ngIf="parent === 'flights'">
          <mat-label id="passengers">Passengers:</mat-label>
          <mat-radio-group aria-label="Passengers">
            <mat-radio-button value="1">1</mat-radio-button>
            <mat-radio-button value="2">2</mat-radio-button>
            <mat-radio-button value="3">3</mat-radio-button>
            <mat-radio-button value="4">4+</mat-radio-button>
          </mat-radio-group>
        </div>
        <div [ngClass]="{'col-4': parent === 'flights', 'col-12': parent === 'home'}">
          <div class="row">
            <div class="col-6">
              <button mat-stroked-button class="btn btn-outline-warning btn-block" id="resetButton"
                      (click)="resetSearch()">
                Clear All
                <mat-icon>clear</mat-icon>
              </button>
            </div>
            <div class="col-6">
              <button mat-stroked-button [disabled]="flightService.searchForm.invalid" id="searchButton"
                      class="btn btn-outline-success btn-block" (click)="updateList()">
                Search
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="!showSearch && parent === 'flights'">
    <div class="row form-input">
      <div class="col-2 justify-content-center display-flex">
        <mat-label>{{flightService.searchForm.value.startLocation}}</mat-label>
      </div>
      <div class="col-1 justify-content-center display-flex">
        <mat-icon>multiple_stop</mat-icon>
      </div>
      <div class="col-2 justify-content-center display-flex">
        <mat-label>{{flightService.searchForm.value.endLocation}}</mat-label>
      </div>
      <div class="col-5"></div>
      <div class="col-2">
        <button mat-stroked-button id="searchEnable"
                class="btn btn-outline-success btn-block" (click)="showSearch = true">
          Search Flights
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
