.sort-card {
  margin: 6% 0px;
  padding: 5%;
  .filter-form {
    margin-top: 2vh;
  }
}
.option-val {
  text-transform: capitalize;
}
.top-row {
  margin-bottom: 2vh;
  padding-bottom: 2vh;
}
.bottom-row {
  padding-top: 2vh;
}
mat-slider {
  width: 15vw;
}
::ng-deep {
  .form-input {
    .ng5-slider {
      .ng5-slider-limit {
        font-weight: bold;
        color: #ef6614 !important;
      }
      .ng5-slider-selection {
        background: #ef6614;
      }
      .ng5-slider-tick.ng5-slider-selected {
        background: #ef6614;
      }
      .ng5-slider-tick {
        width: 1px;
        height: 10px;
        margin-left: 4px;
        border-radius: 0;
        background: #ffe4d1;
        top: -1px;
      }
      .ng5-slider-pointer {
        width: 8px;
        height: 16px;
        top: auto; /* to remove the default positioning */
        bottom: 0;
        background-color: #333;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      .ng5-slider-pointer:after {
        display: none;
      }
      .ng5-slider-bubble {
        bottom: 14px;
      }
    }
  }
}
